PyAudio==0.2.11
lxml==4.3.0
Cython==0.29.13
Dialog==0.2.0
pyOpenSSL==19.0.0
brotli==1.0.7
cryptography==3.2
ipaddr==2.2.0
keyring==19.2.0
mock==3.0.5
numpy==1.17.2
google_api_python_client==1.7.11
ordereddict==1.1
repr==0.3.1
simplejson==3.16.0
unittest2==1.1.0
usercustomize==1.0.0
wincertstore==0.2
